.fullPage{
    display: flex;
    flex-direction: column;
    gap: 150px;  
    
    

    .aboutPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    align-items: center;
    margin-top: -40px;

    img{
        width: 700px;
        height: 470px;
        margin: 120px;
        
    }

    .right-side{
        margin-top: -60px;
         margin-left: -75px;
        h1{
            font-size: 55px;
            background: radial-gradient(64.33% 64.33% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p{
            font-size: 30px;
            color: rgba(255, 255, 255, 0.70);
        }
        .buttons{
            
           .scrollBtn{
            margin-top: 30px;
            width: 450px;
            height: 70px;
            border: none;
            background-color: #5bcfe0;
            //background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
            border-radius: 30px;
            font-size: 25px;
            cursor: pointer;
            color: #000;

            &:hover{
                background-color: black;
                color: white;
                transition: 1s;
            }
        } 
        
        }
        
    }
}


.teamFull{
    // margin:100px 135px 300px 0px;
    
    .headingTeam{
        margin-left: 80px;
        font-size: 30px;
    }
    
    .managers{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 40px;
        margin-left: 80px;
        

        .managersInfo{
           

            img{
                width: 330px;
                height: 300px;
                border-radius: 10px;
                cursor: pointer;
                transition: 1s;
                object-fit: cover;
                object-position: center;
            }
            img:hover{
                transform: scale(1.1);
            } 
            .personal{
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 40px;
                .name{
                    font-weight: bold;
                    font-size: 40px;
                }
                .position{
                    font-weight: 300;
                    font-size: larger;
                }
            }
            
        }
    }
    .horizontalLine{
        margin: 150px 50px;
    }
    .horizontal{
        margin: 150px 50px;
    }
    .advertisements{
        margin-top: 80px;
        margin-left: 0px;
       display: flex;
       justify-content: center;
        
    }
}


}





