.fullPage{
    display: flex;
    flex-direction: column;
    gap: 200px;


    .aboutPage{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    gap: 10px;
    align-items: center;
    margin-top: -40px;

    img{
        width: 570px;
        height: 370px;
        margin: 120px;
        opacity: 0.9;
    }

    .right-side{
        margin-top: -60px;
        
        h1{
            font-size: 40px;
        }
        p{
            font-size: 20px;
        }
        .buttons{
            
           .scrollBtn{
            margin-top: 30px;
            width: 300px;
            height: 30px;
            border: none;
            background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
            border-radius: 30px;
            cursor: pointer;
            color: #000;
        } 
        }
        
    }
}



}





