.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  margin: 0;
  overflow: hidden;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/login.avif') no-repeat center center;
    background-size: cover;
    z-index: -1;
    opacity: 0.7;
  }

  .returnBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    button {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 30px;
      border: none;
      background: none;
      color: white;
      font-size: larger;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .registerPage {
    z-index: 2;
    width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      h2.heading {
        color: white;
        text-align: center;
        margin-bottom: 20px;
      }

      .inputDiv {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        input {
          width: calc(100% - 20px);
          height: 35px;
          background-color: #000;
          color: #fff;
          border: none;
          border-radius: 5px;
          padding: 10px;
          &::placeholder {
            color: #737373;
          }
        }

        button.signInBtn {
          width: calc(100% - 20px);
          height: 35px;
          border: none;
          background-color: #33BBCF;
          border-radius: 5px;
          color: white;
          cursor: pointer;
          margin-top: 15px;
          &:hover {
            background-color: darken(#33BBCF, 10%);
          }
        }
      }

      .linkTab {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        a {
          color: white;
          font-size: 12px;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .remember, .help {
          cursor: pointer;
        }
      }

      .linkToRegisterPage {
        margin-top: 30px;
        p.signUpLink {
          font-size: 12px;
          color: white;
          a.signUp {
            text-decoration: underline;
            color: #4c89e6;
            &:hover {
              color: darken(#4c89e6, 10%);
            }
          }
        }
      }

      .licenceDiv {
        margin-top: 30px;
        p.licence {
          font-size: 12px;
          color: white;
          a.licenseLink {
            color: #4c89e6;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
