.container{
    margin-top: 20px;
    margin-bottom: 280px;
    

    .headingCalc{
        margin: 0 auto; 
        max-width: 800px; 
        padding: 20px; 
        text-align: center; 
    
        h1{
            text-align: center;
            margin-bottom: 15px;
            background: radial-gradient(64.33% 64.33% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p{
           //width: 500px;
            text-align: center;
            margin: 30px 50px 50px 50px;
            color: #b3b4b7;
            line-height: 1.8;
        }
    }

    .inputRange{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin: 0 auto;
        gap: 200px;
        

        .months{
           display: flex;
           flex-direction: column;
           align-items: center;

           h6{
            color: #b3ae9c;
        }

           .scroller{
                width: 200px;
           }

                input{
                    width: 150px;
                    height: 20px;
                
            }
            
        }


        .resultCredit{
            display: flex;
            flex-direction: column;
            align-items: center;

            h6{
                color: #b3ae9c;
            }

            .scroller{
                width: 200px;
            }

                input{
                    width: 150px;
                    height: 20px;
                }
            
        }
    }
    .secondPart{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 40px;
        margin-top: 50px;
        align-items: center;

        h3{
            font-size: 15px;
            color: #b3ae9c;
            span{
                font-size: 25px;
                color: #fff;
                margin-left: 10px;
            }
        }
    }
}